{% extends "skeleton.html" %}

{% block header_title %}{{ super() }} - {{ page_title }}{% endblock header_title %}
{% block body_attrs %} class="text-center text-bg-dark"{% endblock body_attrs %}

{% block body_container %}
<div id="page-body" class="d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
    <div class="text-center">
        <h1>{{ SITE.name }}</h1>
        <h2>{{ page_title }}</h2>
        <p>{% trans %}Hello World!{% endtrans %}</p>
        {% if page_lang.code not in ['fr_FR'] %}<p>There is also a <a href="index_fr_FR.html">French version</a></p>{% endif %}
    </div>
</div>{% endblock body_container %}
